<section class="wrapper">
  <header class="header">
    <h1 class="header-title">Currency calculator</h1>
    <div class="header-info_block">
      <h3 class="header-info_block-title">
        Current currency exchange rate UAH
      </h3>
      <p class="header-info_block-date">Today: {{ TIME }}</p>
      <div class="header-info_block-exchange-rate">
        <p class="header-info_block-exchange-rate_element">$ {{ USD }}</p>
        <p class="header-info_block-exchange-rate_element">€ {{ EUR }}</p>
      </div>
    </div>
  </header>
  <app-converter></app-converter>
</section>
